* {
    margin: 0;
    padding: 0;

}

/* -----------------------------page------------------------------------------------ */
.page {
    height: 100%;
    background-color: #eff3f5;
    display: flex;
    width: 100%;
}

/* ---------------------------left-side-menu------------------------------------------------ */

.left-side-menu {
    /* border: 2px solid rgb(19, 5, 143); */
    width: 20%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    height: 35%;
    /* gap: 20px; */

}

.l-logo {
    /* border: 2px solid  green; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.l-logo img {
    padding-top: 10px;
    width: 200px;
    height: 30px;
    /* border: 1px solid black; */
}

.profile-photo img {

    border-radius: 100%;
}

.profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */

}

.menu-item {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    border: 1px solid black;

}

.dashbaord-icon {
    font-size: bold;
    font-weight: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.parent-navmenu {
    display: flex;
    justify-content: center;
}

.navmenu {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10%;
    justify-content: space-between;
    height: auto;
    /* border: 2px solid rgb(194, 9, 132); */
}

/* --------------------------------------main------------------------------------------------- */

.main {

    /* border: 2px solid rgb(13, 14, 13); */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #464de4;
    height: 10%;
    top: 0;
    right: 0;
    left: 20%;
    /* padding-right: 3%;   */
    position: fixed;
    width: 100%;
    /* border: 1px solid black; */
   
}
.left-nav {
    display: flex;
    justify-content: flex-start;
    height: 80%;
    /* border: 1px solid black; */
    width: 16%;
}
.btn {
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #eff3f5;
}
.creatbtn {
    
    background-color: rgba(199, 197, 197, 0.75);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #eff3f5;
    opacity: 80%;
}
.right-nav {
    display: flex;
    
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-left: 50%;
    height: 60%;
   

}
.rightbtn-icon {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    width: 20%;
    margin: 1%;
    /* border: none; */
    background-color: transparent;
    font-size: 1em;
    cursor: pointer;
}
.select-Language {
    background-color: #464de4;
    /* background-color: transparent; */
    color: white;
    width: 40%;
    border: none;
}
/* -----------------------------------------first-sub-main----------------------------------------------- */
.gap{
width: 100%;
height: 10vh;
/* border: 1px solid black; */

}

.first-sub-main{
  width: 100%;
  /* height: 60%; */
margin-top: 8%;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  height: 20vh;
  border: 1px solid black;
}

.main-section-two {
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

.main-section-two div {
    background: #ffffff;
    width: 350px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(238, 219, 219);

}

.main-section-two-logo {
    text-align: center;
    display: flex;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    border: #404852;
    color: #354168;
    font-weight: 400;
    font-size: 0.8rem
}

.main-section-three {
    margin-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-left: 20px;
}

.main-section-three div {
    background: #ffffff;
    width: 332px;
    height: 470px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(238, 219, 219);
    gap: 10px;
}

.image-div img {
    border-radius: 100%;
    height: auto;
    width: 70px;
    margin-right: 15px;
    margin-top: 20px;

}

.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-p {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #8d9498;
    line-height: 1.5;
}

.follow-button {
    color: #fff;
    background-color: #464de4;
    display: block;
    align-items: center;
    border-radius: 0.1875rem;
    ;
    font-size: 0.875rem;
    font-weight: initial;
    padding: 0.5rem 0.81rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border-color: #464de4;
}

.table th td {
    display: block;
    justify-content: space-evenly;
}

.table th,
td,
tr {
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 1.5rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #354168;
    line-height: 1.5;
    padding: 5px;
}

.sub-div-two div {
    display: flex;
    flex-direction: column;
    /* padding-top: 15px; */
   border: none;
    font-weight: 400;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    color: #354168;
    line-height: 1.5;
    
}

.text-div{
    
    /* padding-right: 100px; */
}
.sub-div-three {
    margin-top: 2%;
    margin: 20px;

}

.table-two {
    width: 100%;
    height: auto;
    color: #212529;
}


.table-two th {
    color: #8d9498;
    font-weight: 500;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    padding: 0.7375rem;
}

.table-two td {
    font-size: 0.95rem;
    color: #8d9498;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    vertical-align: middle;
    padding: 0.9375rem;
    background: #ffffff
}

.table-btn {
    border: 1px solid #4CCEAC;
    color: #ffffff;
    border-radius: 0.25rem;
    font-size: .75rem;
    font-weight: initial;
    line-height: 1;
    padding: 0.35rem 0.675rem;
    font-family: Open Sans, sans-serif;
    background-color: #4CCEAC;
}

.subdiv-form {
    display: flex;
    border: 1px solid red;
    justify-content: flex-start;
    padding: 0;
    width: 300px;
}